<p id="notice"><%= notice %></p>





<%= User.connection.select_all("select * from users") %>
<br><br>
<%= User.find(params[:id]) %>
<br><br>

<h2>Attach Deck to this User with Paperclip</h2>
<% form_for :deck, @deck, :url => decks_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :doc %>
  <%= submit_tag value="Submit" %>
<% end %>

<br><br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Home', root_path %>
