<h1>Editing deck</h1>

<%= render 'form' %>

<% form_for :deck, @deck, :url => decks_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :doc %>
  <%= submit_tag value="Submit" %>
<% end %>

<%= link_to 'Show', @deck %> |
<%= link_to 'Back', decks_path %>
<%= link_to 'Home', root_path %>
